// Variables
$font-family: "Roboto", sans-serif;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #F6F6F6;
$text-color: #353535;
$shadow-color: rgba(0, 0, 0, 0.1490196078);